.container {
    display: flex;
    justify-content: end;
    background-color: rgb(12, 1, 54);
    gap: 2px;
    position: fixed;
    top: 0;
    width: 100%;
}

.container a {
    text-decoration: none;
    color: white;
    padding: 10px 60px;
    font-size: 24px;
    background-color: rgb(41, 52, 96);
}

.container a:hover {
    background-color: rgb(77, 88, 132);
}

.cart-box{
    width:40px;
    text-align: center;
}

.circle {
    padding: 0 6px;
    border-radius: 20px;
    border: 2px solid red;
    position: absolute;
    top:3px;
    font-size: 16px;;
}